.k {
  color: blue;
}

.active {
  color: #D87D4A !important;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  max-width: 100%;
}

#all, #home .landing-products, .productsListElContainer, .product, .cat-h, .hr-container .hr, .about {
  margin: 0 165px;
}
@media (max-width: 1195px) {
  #all, #home .landing-products, .productsListElContainer, .product, .cat-h, .hr-container .hr, .about {
    margin: 0 120px;
  }
}
@media (max-width: 980px) {
  #all, #home .landing-products, .productsListElContainer, .product, .cat-h, .hr-container .hr, .about {
    margin: 0 90px;
  }
}
@media (max-width: 870px) {
  #all, #home .landing-products, .productsListElContainer, .product, .cat-h, .hr-container .hr, .about {
    margin: 0 50px;
  }
}
@media (max-width: 767px) {
  #all, #home .landing-products, .productsListElContainer, .product, .cat-h, .hr-container .hr, .about {
    margin: 0 40px;
  }
}
@media (max-width: 625px) {
  #all, #home .landing-products, .productsListElContainer, .product, .cat-h, .hr-container .hr, .about {
    margin: 0 20px;
  }
}
@media (max-width: 480px) {
  #all, #home .landing-products, .productsListElContainer, .product, .cat-h, .hr-container .hr, .about {
    margin: 0 25px;
  }
}

#all-padding, #navbar {
  padding: 0 165px;
}
@media (max-width: 1195px) {
  #all-padding, #navbar {
    padding: 0 120px;
  }
}
@media (max-width: 980px) {
  #all-padding, #navbar {
    padding: 0 90px;
  }
}
@media (max-width: 870px) {
  #all-padding, #navbar {
    padding: 0 60px;
  }
}
@media (max-width: 767px) {
  #all-padding, #navbar {
    padding: 0 40px;
  }
}
@media (max-width: 480px) {
  #all-padding, #navbar {
    padding: 0 24px;
  }
}

.navlinks {
  max-width: 100%;
  position: relative;
}
.navlinks .navlinks-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
@media (max-width: 1195px) {
  .navlinks .navlinks-text {
    gap: 25px;
  }
}
@media (max-width: 980px) {
  .navlinks .navlinks-text {
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .navlinks .navlinks-text {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.navlinks .navlinks-text a:link, .navlinks .navlinks-text a:visited {
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 13px;
}
.navlinks .navlinks-text a:hover {
  color: #D87D4A;
}
.navlinks #navlink-img-container {
  max-width: 100%;
  height: calc(100vh - 96px);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
}
.navlinks #navlink-img-container .sliding-menu {
  position: relative;
  bottom: 340px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  border-radius: 0 0 8px 8px;
}
@media (max-width: 625px) {
  .navlinks #navlink-img-container .sliding-menu {
    bottom: 240px;
  }
}
@media (max-width: 480px) {
  .navlinks #navlink-img-container .sliding-menu {
    box-sizing: border-box;
    padding-top: 65px !important;
    bottom: 675px;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    max-height: calc(100vh - 135px);
  }
  .navlinks #navlink-img-container .sliding-menu .category-img {
    filter: none !important;
  }
}
.navlinks #navlink-img-container .sliding-menu-open {
  -webkit-animation-name: slide-open;
          animation-name: slide-open;
}
@-webkit-keyframes slide-open {
  100% {
    bottom: 0;
  }
}
@keyframes slide-open {
  100% {
    bottom: 0;
  }
}
@media (max-width: 625px) {
  @-webkit-keyframes slide-open {
    100% {
      bottom: 0;
    }
  }
  @keyframes slide-open {
    100% {
      bottom: 0;
    }
  }
}
@media (max-width: 480px) {
  @-webkit-keyframes slide-open {
    100% {
      bottom: 0;
    }
  }
  @keyframes slide-open {
    100% {
      bottom: 0;
    }
  }
}
.navlinks #navlink-img-container .sliding-menu-close {
  -webkit-animation-name: slide-close;
          animation-name: slide-close;
}
@-webkit-keyframes slide-close {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 340px;
  }
}
@keyframes slide-close {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 340px;
  }
}
@media (max-width: 625px) {
  @-webkit-keyframes slide-close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 240px;
    }
  }
  @keyframes slide-close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 240px;
    }
  }
}
@media (max-width: 480px) {
  @-webkit-keyframes slide-close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 675px;
    }
  }
  @keyframes slide-close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 675px;
    }
  }
}
.navlinks .navlinks-img, .navlinks .notNav {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 217px;
  background-color: white;
  padding: 56px 39px 67px 39px;
}
@media (min-width: 1196px) {
  .navlinks .navlinks-img, .navlinks .notNav {
    margin: 0 165px;
    padding-right: 0;
    padding-left: 0;
    gap: 30px;
  }
}
@media (max-width: 1195px) {
  .navlinks .navlinks-img, .navlinks .notNav {
    margin: 0 120px;
    padding-right: 0;
    padding-left: 0;
    gap: 20px;
  }
}
@media (max-width: 980px) {
  .navlinks .navlinks-img, .navlinks .notNav {
    margin: 0 90px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 870px) {
  .navlinks .navlinks-img, .navlinks .notNav {
    padding: 56px 39px 67px 39px;
    margin: 0;
  }
}
@media (max-width: 625px) {
  .navlinks .navlinks-img, .navlinks .notNav {
    padding: 60px 20px 40px 20px;
    height: 170px;
  }
}
@media (max-width: 480px) {
  .navlinks .navlinks-img, .navlinks .notNav {
    flex-direction: column;
    height: auto;
    gap: 68px;
    align-items: center;
    padding: 84px 24px 35px 24px;
  }
}
.navlinks .navlinks-img .category, .navlinks .notNav .category {
  height: 165px;
  width: 223px;
  background-color: #F1F1F1;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 17px;
}
@media (min-width: 1196px) {
  .navlinks .navlinks-img .category, .navlinks .notNav .category {
    width: 350px;
  }
}
@media (max-width: 1195px) {
  .navlinks .navlinks-img .category, .navlinks .notNav .category {
    width: 300px;
  }
}
@media (max-width: 980px) {
  .navlinks .navlinks-img .category, .navlinks .notNav .category {
    width: 300px;
  }
}
@media (max-width: 870px) {
  .navlinks .navlinks-img .category, .navlinks .notNav .category {
    width: 300px;
  }
}
@media (max-width: 625px) {
  .navlinks .navlinks-img .category, .navlinks .notNav .category {
    height: 140px;
    gap: 9px;
  }
}
@media (max-width: 480px) {
  .navlinks .navlinks-img .category, .navlinks .notNav .category {
    width: 85%;
  }
}
.navlinks .navlinks-img .category .category-img, .navlinks .notNav .category .category-img {
  position: absolute;
  margin: auto;
  top: -52px;
  left: 0;
  right: 0;
  filter: drop-shadow(0px 30px 16px gray);
}
@media (max-width: 625px) {
  .navlinks .navlinks-img .category .category-img, .navlinks .notNav .category .category-img {
    filter: drop-shadow(0px 15px 8px gray);
    height: 80px;
    top: -40px;
  }
}
.navlinks .navlinks-img .category p, .navlinks .notNav .category p {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}
.navlinks .navlinks-img .category .shop, .navlinks .notNav .category .shop {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 22px;
  box-sizing: border-box;
}
.navlinks .navlinks-img .category .shop p, .navlinks .notNav .category .shop p {
  opacity: 0.5;
  color: black;
}
.navlinks .navlinks-img a:visited, .navlinks .notNav a:visited, .navlinks .navlinks-img a:link, .navlinks .notNav a:link {
  color: black;
}
.navlinks .navlinks-img a:hover .shop > p, .navlinks .notNav a:hover .shop > p {
  opacity: 1;
  color: #D87D4A;
}
.navlinks .notNav {
  padding: 0px 0 0 0;
  margin: 0 165px;
}
@media (max-width: 1195px) {
  .navlinks .notNav {
    margin: 0 120px;
  }
}
@media (max-width: 980px) {
  .navlinks .notNav {
    margin: 0 90px;
  }
}
@media (max-width: 870px) {
  .navlinks .notNav {
    margin: 0 50px;
  }
}
@media (max-width: 767px) {
  .navlinks .notNav {
    margin: 0 40px;
  }
}
@media (max-width: 625px) {
  .navlinks .notNav {
    margin: 0 20px;
  }
}
@media (max-width: 480px) {
  .navlinks .notNav {
    margin: 0 25px;
    padding: 35px 0 0 0;
  }
}
@media (max-width: 625px) {
  .navlinks .notNav .category {
    height: 130px;
    gap: 9px;
  }
}
@media (max-width: 625px) {
  .navlinks .notNav .category .category-img {
    height: 70px;
    top: -35px;
  }
}

#navbar-container {
  background-color: #101010;
}

#navbar-links {
  position: relative;
  z-index: 5;
}

#navbar {
  background-color: black;
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
  height: 96px;
}
@media (max-width: 1195px) {
  #navbar {
    justify-content: space-between;
  }
}
#navbar #logo, #navbar #cart-icon {
  position: absolute;
  margin: auto;
  left: 165px;
  top: 0;
  bottom: 0;
}
@media (max-width: 1195px) {
  #navbar #logo, #navbar #cart-icon {
    position: static;
    margin: 0;
  }
}
#navbar #cart-icon {
  left: auto;
  right: 165px;
  margin: auto 0;
}
#navbar #menu {
  color: white;
  font-size: 30px;
}
@media (max-width: 480px) {
  #navbar #menu {
    font-size: 22px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 365px;
  background-color: #101010;
  padding: 0 165px;
}
@media (max-width: 1195px) {
  footer {
    padding: 0 90px;
  }
}
@media (max-width: 980px) {
  footer {
    padding: 0 25px;
  }
}
@media (max-width: 480px) {
  footer {
    height: auto;
    align-items: center;
  }
}
footer #footer-orange-top {
  background-color: #D87D4A;
  width: 101px;
  height: 4px;
  border: none;
  margin: 0;
  margin-bottom: 69px;
}
@media (max-width: 767px) {
  footer #footer-orange-top {
    margin-bottom: 56px;
  }
}
footer #footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  footer #footer-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
@media (max-width: 480px) {
  footer #footer-nav {
    align-items: center;
  }
}
footer #footer-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  footer #footer-about {
    position: relative;
  }
}
@media (max-width: 480px) {
  footer #footer-about {
    flex-direction: column;
    align-items: center;
  }
}
footer #footer-about #footer-about-main {
  width: 50%;
}
@media (max-width: 1195px) {
  footer #footer-about #footer-about-main {
    width: 60%;
  }
}
@media (max-width: 980px) {
  footer #footer-about #footer-about-main {
    width: 75%;
  }
}
@media (max-width: 767px) {
  footer #footer-about #footer-about-main {
    width: 100%;
  }
}
footer #footer-about #footer-about-main #about-text, footer #footer-about #footer-about-main #about-copywrite {
  color: white;
  font-size: 15px;
  opacity: 0.5;
  font-weight: 500;
  margin: 0;
  margin-bottom: 56px;
}
@media (max-width: 767px) {
  footer #footer-about #footer-about-main #about-text, footer #footer-about #footer-about-main #about-copywrite {
    margin-bottom: 32px;
  }
}
@media (max-width: 480px) {
  footer #footer-about #footer-about-main #about-text, footer #footer-about #footer-about-main #about-copywrite {
    text-align: center;
  }
}
footer #footer-about #footer-about-main #about-copywrite {
  font-weight: 700;
  margin: 0;
}
@media (max-width: 767px) {
  footer #footer-about #footer-about-main #about-copywrite {
    margin-bottom: 0;
  }
}
footer #footer-about #footer-about-contacts {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 90px;
}
@media (max-width: 767px) {
  footer #footer-about #footer-about-contacts {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 480px) {
  footer #footer-about #footer-about-contacts {
    position: static;
    margin: 48px;
  }
}
footer #footer-about #footer-about-contacts > i {
  color: white;
  font-size: 24px;
}
footer #footer-about #footer-about-contacts > i:hover {
  color: #D87D4A;
}

.about {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-block: 160px;
}
@media (max-width: 1195px) {
  .about {
    gap: 50px;
  }
}
@media (max-width: 980px) {
  .about {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .about {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .about {
    margin-block: 20px;
  }
}
.about .about-text .about-text-title {
  margin: 0 0 32px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
}
@media (max-width: 1195px) {
  .about .about-text .about-text-title {
    font-size: 35px;
  }
}
@media (max-width: 980px) {
  .about .about-text .about-text-title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .about .about-text .about-text-title {
    text-align: center;
    font-size: 32px;
  }
}
.about .about-text .about-text-title span {
  color: #D87D4A;
}
.about .about-text .about-text-text {
  margin: 0;
  opacity: 0.5;
  font-weight: 500;
  line-height: 25px;
}
@media (max-width: 767px) {
  .about .about-text .about-text-text {
    text-align: center;
  }
}
.about .about-picture {
  width: 480px;
  border-radius: 10px;
}
@media (max-width: 1195px) {
  .about .about-picture {
    width: 350px;
  }
}
@media (max-width: 980px) {
  .about .about-picture {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .about .about-picture {
    width: 100%;
  }
}

.hr-container {
  background-color: #101010;
}
.hr-container .hr {
  margin-block: 0;
  opacity: 0.2;
  background-color: #979797;
  height: 1px;
  border: none;
  mix-blend-mode: normal;
}

.cat-h {
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 239px;
}
@media (max-width: 767px) {
  .cat-h {
    height: 246px;
  }
}
@media (max-width: 480px) {
  .cat-h {
    height: 102px;
  }
}

.productsListElContainer, .product {
  margin-block: 100px 160px;
  display: flex;
  flex-direction: column;
  gap: 160px;
}
@media (max-width: 980px) {
  .productsListElContainer, .product {
    margin-block: 100px 145px;
  }
}
@media (max-width: 767px) {
  .productsListElContainer, .product {
    margin-block: 60px 130px;
    gap: 120px;
  }
}

.category-product, .category-product-2 {
  display: flex;
  gap: 125px;
  align-items: center;
}
@media (max-width: 1195px) {
  .category-product, .category-product-2 {
    gap: 60px;
  }
}
@media (max-width: 980px) {
  .category-product, .category-product-2 {
    gap: 50px;
  }
}
@media (max-width: 870px) {
  .category-product, .category-product-2 {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .category-product, .category-product-2 {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 625px) {
  .category-product, .category-product-2 {
    gap: 25px;
  }
}
.category-product .category-product-img, .category-product-2 .category-product-img {
  width: 50%;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .category-product .category-product-img, .category-product-2 .category-product-img {
    width: 100%;
  }
}

@media (max-width: 870px) {
  .category-product-2 {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .category-product-2 {
    flex-direction: row;
    gap: 40px;
  }
}
@media (max-width: 652px) {
  .category-product-2 {
    gap: 21px;
  }
}
@media (max-width: 625px) {
  .category-product-2 {
    gap: 17px;
  }
}
@media (max-width: 480px) {
  .category-product-2 {
    flex-direction: column;
  }
}
.category-product-2 .category-product-img {
  width: 50%;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .category-product-2 .category-product-img {
    max-width: 35%;
  }
}
@media (max-width: 655px) {
  .category-product-2 .category-product-img {
    max-width: 30%;
  }
}
@media (max-width: 480px) {
  .category-product-2 .category-product-img {
    min-width: 100%;
  }
}
.category-product-2 .category-product-text {
  text-align: left;
}

.button {
  background-color: #D87D4A;
  color: white;
  border: none;
  padding: 15px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
  height: 48px;
}
@media (max-width: 600px) {
  .button {
    letter-spacing: 0;
    padding: 10px 10px;
    height: 35px;
  }
}
@media (max-width: 480px) {
  .button {
    letter-spacing: 0;
  }
}

.button:hover {
  background-color: #FBAF85;
}

.category-product-text .category-product-text-new {
  color: #D87D4A;
  letter-spacing: 10px;
  font-size: 14px;
  margin: 0 0 16px 0;
}
@media (max-width: 980px) {
  .category-product-text .category-product-text-new {
    margin: 0 0 9px 0;
  }
}
@media (max-width: 870px) {
  .category-product-text .category-product-text-new {
    margin: 0 0 5px 0;
  }
}
@media (max-width: 767px) {
  .category-product-text .category-product-text-new {
    margin: 0 0 10px 0;
  }
}
.category-product-text .category-product-text-new-2 {
  color: #D87D4A;
  letter-spacing: 10px;
  font-size: 14px;
  margin: 0 0 16px 0;
}
@media (max-width: 980px) {
  .category-product-text .category-product-text-new-2 {
    margin: 0 0 9px 0;
  }
}
@media (max-width: 870px) {
  .category-product-text .category-product-text-new-2 {
    margin: 0 0 5px 0;
  }
}
@media (max-width: 767px) {
  .category-product-text .category-product-text-new-2 {
    margin: 0 0 5px 0;
  }
}
@media (max-width: 600px) {
  .category-product-text .category-product-text-new-2 {
    font-size: 12px;
    letter-spacing: 5px;
  }
}
@media (max-width: 550px) {
  .category-product-text .category-product-text-new-2 {
    font-size: 10px;
    letter-spacing: 5px;
  }
}
.category-product-text .category-product-text-name {
  margin: 0 0 32px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
}
@media (max-width: 980px) {
  .category-product-text .category-product-text-name {
    font-size: 33px;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 767px) {
  .category-product-text .category-product-text-name {
    margin: 0 0 15px 0;
  }
}
.category-product-text .category-product-text-name-2 {
  margin: 0 0 32px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 37px;
  letter-spacing: 1.42857px;
}
@media (max-width: 980px) {
  .category-product-text .category-product-text-name-2 {
    font-size: 33px;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 767px) {
  .category-product-text .category-product-text-name-2 {
    margin: 0 0 10px 0;
    font-size: 26px;
    line-height: 25px;
  }
}
@media (max-width: 600px) {
  .category-product-text .category-product-text-name-2 {
    margin: 0 0 6px 0;
    font-size: 23px;
    line-height: 22.5px;
  }
}
@media (max-width: 550px) {
  .category-product-text .category-product-text-name-2 {
    margin: 0 0 6px 0;
    font-size: 20px;
    line-height: 20px;
  }
}
.category-product-text .category-product-text-description {
  margin: 0 0 40px 0;
  opacity: 0.5;
  font-weight: 500;
}
@media (max-width: 980px) {
  .category-product-text .category-product-text-description {
    margin: 0 0 28px 0;
  }
}
@media (max-width: 870px) {
  .category-product-text .category-product-text-description {
    margin: 0 0 23px 0;
  }
}
@media (max-width: 767px) {
  .category-product-text .category-product-text-description {
    margin: 0 0 30px 0;
  }
}
.category-product-text .category-product-text-description-2 {
  margin: 0 0 20px 0;
  opacity: 0.5;
  font-weight: 500;
}
@media (max-width: 980px) {
  .category-product-text .category-product-text-description-2 {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 870px) {
  .category-product-text .category-product-text-description-2 {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 767px) {
  .category-product-text .category-product-text-description-2 {
    margin: 0 0 10px 0;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .category-product-text .category-product-text-description-2 {
    margin: 0 0 10px 0;
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .category-product-text .category-product-text-description-2 {
    margin: 0 0 10px 0;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .category-product-text {
    text-align: center;
  }
}
.category-product-text .product-nums {
  display: inline-flex;
  align-items: center;
  background-color: #F1F1F1;
  width: auto;
  height: 48px;
  margin-right: 16px;
}
@media (max-width: 600px) {
  .category-product-text .product-nums {
    height: 35px;
  }
}
@media (max-width: 480px) {
  .category-product-text .product-nums {
    margin-right: 10px;
  }
}
.category-product-text .product-nums p {
  margin: 0;
  width: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
@media (max-width: 600px) {
  .category-product-text .product-nums p {
    width: 30px;
  }
}
.category-product-text .product-nums button {
  font-weight: bold;
  border: none;
  height: 100%;
  width: 40px;
  opacity: 0.5;
  font-size: 13px;
}
@media (max-width: 600px) {
  .category-product-text .product-nums button {
    width: 30px;
  }
}
@media (max-width: 480px) {
  .category-product-text .product-nums p, .category-product-text .product-nums button {
    width: 35px;
  }
}
.category-product-text .product-nums button:hover {
  color: #D87D4A;
  opacity: 1;
}
.category-product-text .price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}
@media (max-width: 600px) {
  .category-product-text .price {
    margin-bottom: 10px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 41% 57.3%;
  gap: 15px;
}
@media (max-width: 767px) {
  .gallery {
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .gallery {
    gap: 7.5px;
  }
}
@media (max-width: 480px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.gallery .gallery-second {
  grid-column: 1/2;
}
.gallery .gallery-third {
  grid-column: 2/3;
  grid-row: 1/3;
}
.gallery .gallery-first, .gallery .gallery-second, .gallery .gallery-third {
  border-radius: 8px;
  max-width: 100%;
}

.product-details {
  display: flex;
  gap: 70px;
}
@media (max-width: 870px) {
  .product-details {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .product-details {
    flex-direction: column;
  }
}
.product-details .features {
  max-width: 65%;
}
@media (max-width: 870px) {
  .product-details .features {
    max-width: 60%;
  }
}
@media (max-width: 767px) {
  .product-details .features {
    max-width: 100%;
  }
}
.product-details .thing-con {
  display: flex;
  gap: 17px;
}
.product-details .thing-con p {
  white-space: nowrap;
}
.product-details .details-text {
  display: inline;
  white-space: pre-wrap;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  line-height: 23px;
  margin: 0 0 8px 0;
}
.product-details span {
  color: #D87D4A;
  opacity: 1;
  font-weight: bold;
}

.details-headings {
  font-weight: bold;
  font-size: 25px;
  margin: 0 0 25px 0;
  letter-spacing: 1.1px;
}

.also-con {
  text-align: center;
}
.also-con .also {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 767px) {
  .also-con .also {
    gap: 20px;
  }
}
@media (max-width: 625px) {
  .also-con .also {
    gap: 12px;
  }
}
@media (max-width: 480px) {
  .also-con .also {
    flex-direction: column;
    gap: 70px;
  }
}
.also-con .also .also-product .also-name {
  font-weight: bold;
  font-size: 22px;
  margin-block: 15px 20px;
}
@media (max-width: 767px) {
  .also-con .also .also-product .also-name {
    margin-block: 10px 15px;
  }
}
.also-con .also .also-product .also-img {
  max-width: 100%;
  border-radius: 8px;
}
@media (max-width: 480px) {
  .also-con .also .also-product button {
    letter-spacing: 1px;
    padding: 15px 20px;
    height: 48px;
    font-size: 13px;
  }
}

#home .landing-products .landing-item-2 {
  position: relative;
  margin-block: 50px;
}
@media (max-width: 480px) {
  #home .landing-products .landing-item-2 {
    margin-block: 20px;
  }
}
#home .landing-products .landing-item-2 img {
  max-width: 100%;
  border-radius: 8px;
}
#home .landing-products .landing-item-2 .item-2-text {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  left: 55px;
}
@media (max-width: 625px) {
  #home .landing-products .landing-item-2 .item-2-text {
    left: 30px;
  }
}
@media (max-width: 480px) {
  #home .landing-products .landing-item-2 .item-2-text {
    left: 25px;
    gap: 40px;
    gap: 35px;
  }
}
@media (max-width: 370px) {
  #home .landing-products .landing-item-2 .item-2-text {
    justify-content: flex-start;
    margin-top: 50px;
    gap: 20px;
  }
}
#home .landing-products .landing-item-2 .item-2-text p {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
}
@media (max-width: 350px) {
  #home .landing-products .landing-item-2 .item-2-text p {
    font-size: 25px;
  }
}
#home .landing-products .landing-item-2 .item-2-text button {
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-color: black;
  color: black;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-size: 13px;
  height: 48px;
  font-weight: bold;
}
#home .landing-products .landing-item-2 .item-2-text button:hover {
  background-color: black;
  color: white;
}
#home .landing-products .landing-item-3 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 480px) {
  #home .landing-products .landing-item-3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
}
#home .landing-products .landing-item-3 img {
  border-radius: 8px;
  height: 100%;
}
#home .landing-products .landing-item-3 div {
  background-color: #F1F1F1;
  border-radius: 8px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  gap: 30px;
}
@media (max-width: 767px) {
  #home .landing-products .landing-item-3 div {
    padding: 0 25px;
  }
}
@media (max-width: 625px) {
  #home .landing-products .landing-item-3 div {
    padding: 0 15px;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  #home .landing-products .landing-item-3 div {
    position: static;
    height: 100%;
    padding: 15px 30px;
    gap: 15px;
  }
}
#home .landing-products .landing-item-3 div p {
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}
@media (max-width: 980px) {
  #home .landing-products .landing-item-3 div p {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #home .landing-products .landing-item-3 div p {
    font-size: 30px;
  }
}
@media (max-width: 625px) {
  #home .landing-products .landing-item-3 div p {
    font-size: 27px;
  }
}
@media (max-width: 480px) {
  #home .landing-products .landing-item-3 div p {
    font-size: 32px;
  }
}
@media (max-width: 360px) {
  #home .landing-products .landing-item-3 div p {
    font-size: 25px;
  }
}
#home .landing-products .landing-item-3 div button {
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-color: black;
  color: black;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-size: 13px;
  height: 48px;
  font-weight: bold;
}
#home .landing-products .landing-item-3 div button:hover {
  background-color: black;
  color: white;
}
#home .landing-products .landing-item-3 img, #home .landing-products .landing-item-3 div {
  width: calc(50% - 10px);
}
@media (max-width: 480px) {
  #home .landing-products .landing-item-3 img, #home .landing-products .landing-item-3 div {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */