.active {
  color: #D87D4A !important;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  max-width: 100%;
}

.navlinks .navlinks-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
@media (max-width: 1195px) {
  .navlinks .navlinks-text {
    gap: 25px;
  }
}
@media (max-width: 980px) {
  .navlinks .navlinks-text {
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .navlinks .navlinks-text {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.navlinks .navlinks-text a:link, .navlinks .navlinks-text a:visited {
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 13px;
}
.navlinks .navlinks-text a:hover {
  color: #D87D4A;
}
.navlinks #navlink-img-container {
  height: calc(100vh - 96px);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
}
.navlinks #navlink-img-container .navlinks-img {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 217px;
  background-color: white;
  padding: 56px 39px 67px 39px;
  border-radius: 0 0 8px 8px;
}
@media (max-width: 625px) {
  .navlinks #navlink-img-container .navlinks-img {
    padding: 60px 20px 40px 20px;
    height: auto;
  }
}
@media (max-width: 480px) {
  .navlinks #navlink-img-container .navlinks-img {
    flex-direction: column;
    height: auto;
    gap: 68px;
    align-items: center;
    padding: 84px 24px 35px 24px;
  }
}
.navlinks #navlink-img-container .navlinks-img .category {
  height: 165px;
  width: 223px;
  background-color: #F1F1F1;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 17px;
}
@media (max-width: 480px) {
  .navlinks #navlink-img-container .navlinks-img .category {
    width: 85%;
  }
}
@media (max-width: 625px) {
  .navlinks #navlink-img-container .navlinks-img .category {
    height: 140px;
    gap: 9px;
  }
}
.navlinks #navlink-img-container .navlinks-img .category .category-img {
  position: absolute;
  margin: auto;
  top: -52px;
  left: 0;
  right: 0;
  filter: drop-shadow(0px 30px 16px gray);
}
@media (max-width: 625px) {
  .navlinks #navlink-img-container .navlinks-img .category .category-img {
    filter: drop-shadow(0px 15px 8px gray);
    height: 80px;
    top: -40px;
  }
}
.navlinks #navlink-img-container .navlinks-img .category p {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}
.navlinks #navlink-img-container .navlinks-img .category p:visited {
  text-decoration: none;
}
.navlinks #navlink-img-container .navlinks-img .category .shop {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 22px;
  box-sizing: border-box;
}
.navlinks #navlink-img-container .navlinks-img .category .shop p {
  opacity: 0.5;
  color: black;
}
.navlinks .sliding-menu {
  position: relative;
  bottom: 340px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
@media (max-width: 625px) {
  .navlinks .sliding-menu {
    bottom: 240px;
  }
}
@media (max-width: 480px) {
  .navlinks .sliding-menu {
    box-sizing: border-box;
    padding-top: 65px !important;
    bottom: 675px;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    max-height: calc(100vh - 135px);
  }
  .navlinks .sliding-menu .category-img {
    filter: none !important;
  }
}
.navlinks .sliding-menu-open {
  -webkit-animation-name: slide-open;
          animation-name: slide-open;
}
@-webkit-keyframes slide-open {
  100% {
    bottom: 0;
  }
}
@keyframes slide-open {
  100% {
    bottom: 0;
  }
}
@media (max-width: 625px) {
  @-webkit-keyframes slide-open {
    100% {
      bottom: 0;
    }
  }
  @keyframes slide-open {
    100% {
      bottom: 0;
    }
  }
}
@media (max-width: 480px) {
  @-webkit-keyframes slide-open {
    100% {
      bottom: 0;
    }
  }
  @keyframes slide-open {
    100% {
      bottom: 0;
    }
  }
}
.navlinks .sliding-menu-close {
  -webkit-animation-name: slide-close;
          animation-name: slide-close;
}
@-webkit-keyframes slide-close {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 340px;
  }
}
@keyframes slide-close {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 340px;
  }
}
@media (max-width: 625px) {
  @-webkit-keyframes slide-close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 240px;
    }
  }
  @keyframes slide-close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 240px;
    }
  }
}
@media (max-width: 480px) {
  @-webkit-keyframes slide-close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 675px;
    }
  }
  @keyframes slide-close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 675px;
    }
  }
}

#navbar-container {
  background-color: #0E0E0E;
}

#navbar-links {
  position: relative;
  z-index: 5;
}

#navbar {
  background-color: #0E0E0E;
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
  height: 96px;
  padding: 0 165px;
}
@media (max-width: 1195px) {
  #navbar {
    padding: 0 90px;
    justify-content: space-between;
  }
}
@media (max-width: 980px) {
  #navbar {
    padding: 0 25px;
  }
}
#navbar #logo, #navbar #cart-icon {
  position: absolute;
  margin: auto;
  left: 165px;
  top: 0;
  bottom: 0;
}
@media (max-width: 1195px) {
  #navbar #logo, #navbar #cart-icon {
    position: static;
    margin: 0;
  }
}
#navbar #cart-icon {
  left: auto;
  right: 165px;
  margin: auto 0;
}
#navbar #menu {
  color: white;
  font-size: 30px;
}
@media (max-width: 480px) {
  #navbar #menu {
    font-size: 22px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 365px;
  background-color: #101010;
  padding: 0 165px;
}
@media (max-width: 1195px) {
  footer {
    padding: 0 90px;
  }
}
@media (max-width: 980px) {
  footer {
    padding: 0 25px;
  }
}
@media (max-width: 480px) {
  footer {
    height: auto;
    align-items: center;
  }
}
footer #footer-orange-top {
  background-color: #D87D4A;
  width: 101px;
  height: 4px;
  border: none;
  margin: 0;
  margin-bottom: 69px;
}
@media (max-width: 767px) {
  footer #footer-orange-top {
    margin-bottom: 56px;
  }
}
footer #footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  footer #footer-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
@media (max-width: 480px) {
  footer #footer-nav {
    align-items: center;
  }
}
footer #footer-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  footer #footer-about {
    position: relative;
  }
}
@media (max-width: 480px) {
  footer #footer-about {
    flex-direction: column;
    align-items: center;
  }
}
footer #footer-about #footer-about-main {
  width: 50%;
}
@media (max-width: 1195px) {
  footer #footer-about #footer-about-main {
    width: 60%;
  }
}
@media (max-width: 980px) {
  footer #footer-about #footer-about-main {
    width: 75%;
  }
}
@media (max-width: 767px) {
  footer #footer-about #footer-about-main {
    width: 100%;
  }
}
footer #footer-about #footer-about-main #about-text, footer #footer-about #footer-about-main #about-copywrite {
  color: white;
  font-size: 15px;
  opacity: 0.5;
  font-weight: 500;
  margin: 0;
  margin-bottom: 56px;
}
@media (max-width: 767px) {
  footer #footer-about #footer-about-main #about-text, footer #footer-about #footer-about-main #about-copywrite {
    margin-bottom: 32px;
  }
}
@media (max-width: 480px) {
  footer #footer-about #footer-about-main #about-text, footer #footer-about #footer-about-main #about-copywrite {
    text-align: center;
  }
}
footer #footer-about #footer-about-main #about-copywrite {
  font-weight: 700;
  margin: 0;
}
@media (max-width: 767px) {
  footer #footer-about #footer-about-main #about-copywrite {
    margin-bottom: 0;
  }
}
footer #footer-about #footer-about-contacts {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 90px;
}
@media (max-width: 767px) {
  footer #footer-about #footer-about-contacts {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 480px) {
  footer #footer-about #footer-about-contacts {
    position: static;
    margin: 48px;
  }
}
footer #footer-about #footer-about-contacts > i {
  color: white;
  font-size: 24px;
}
footer #footer-about #footer-about-contacts > i:hover {
  color: #D87D4A;
}

h1 {
  background-color: #D87D4A;
  color: white;
  margin: 0px 0;
  padding: 20px;
}

#all, .about {
  margin: 0 165px;
}
@media (max-width: 1195px) {
  #all, .about {
    margin: 0 120px;
  }
}
@media (max-width: 980px) {
  #all, .about {
    margin: 0 90px;
  }
}
@media (max-width: 870px) {
  #all, .about {
    margin: 0 60px;
  }
}

.about {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-block: 160px;
}
@media (max-width: 1195px) {
  .about {
    gap: 50px;
  }
}
@media (max-width: 980px) {
  .about {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .about {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.about .about-text .about-text-title {
  margin: 0 0 32px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
}
@media (max-width: 1195px) {
  .about .about-text .about-text-title {
    font-size: 35px;
  }
}
@media (max-width: 980px) {
  .about .about-text .about-text-title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .about .about-text .about-text-title {
    text-align: center;
    font-size: 32px;
  }
}
.about .about-text .about-text-title span {
  color: #D87D4A;
}
.about .about-text .about-text-text {
  margin: 0;
  opacity: 0.5;
  font-weight: 500;
  line-height: 25px;
}
@media (max-width: 767px) {
  .about .about-text .about-text-text {
    text-align: center;
  }
}
.about .about-picture {
  width: 480px;
  border-radius: 10px;
}
@media (max-width: 1195px) {
  .about .about-picture {
    width: 350px;
  }
}
@media (max-width: 980px) {
  .about .about-picture {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .about .about-picture {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */