//variables
$manrope:'Manrope', sans-serif;
$weightOne:700;
$weightTwo:500;
$weightThree:400;
$primaryBrown:#D87D4A;
    //screen-sizes
    $mobile:480px;
    $mtablet:625px;
    $tablet:767px;
    $sdesktop:980px;
    $mdesktop:1195px;
    //menu-heights
    $sMenu:240px;
    $mMenu:340px;
    $bMenu:675px;

//mixings
@mixin media($level){
    @media(max-width:$level){
        @content
    }
}

//body
body{
    margin:0;
}

//NAV-LINKS:
.navlinks{
    position: relative;
    z-index: 5;
    .navlinks-text{

        display: flex;
        align-items: center;
        justify-content: center;
        gap:34px;
        @include media($mdesktop){gap:25px}
        @include media($sdesktop){gap:15px}
        @include media ($mobile){flex-direction: column;align-items: center;width:100%;}
        a:link , a:visited{
            color: white;
            text-decoration: none;
            font-family: $manrope;
            font-weight: $weightOne;
            letter-spacing: 2px;
            line-height: 25px;
            font-size: 13px;
        }
        a:hover{
            color:$primaryBrown;
        }
    }

    #navlink-img-container{
        height: calc(100vh - 96px);
        background-color:rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        right: 0;
        .navlinks-img{
            display: flex;
            align-items: flex-end;
            gap: 10px;
            height: 217px;
            background-color: white;
            padding:56px 39px 67px 39px;
            border-radius: 0 0 8px 8px;

            @include media($mtablet){
                padding: 60px 20px 40px 20px;
                height: auto;
            }
            @include media($mobile){
                flex-direction: column;
                height: auto;
                gap:68px;
                align-items: center;
                padding:84px 24px 35px 24px;
            }
            .category{
                height: 165px;
                width: 223px;
                background-color: #F1F1F1;
                border-radius: 8px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: 17px;
                @include media($mobile){width: 85%;}
                @include media ($mtablet){height: 140px;gap:9px;}
                .category-img{
                    position: absolute;
                    margin:auto;
                    top:-52px;
                    left: 0;
                    right: 0;
                    filter: drop-shadow(0px 30px 16px gray);
                    @include media($mtablet){filter: drop-shadow(0px 15px 8px gray);height: 80px;top:-40px;}
                }
                p{
                    font-family: $manrope;
                    font-weight: $weightOne;
                    font-size: 15px;
                    margin:0;
                }
                p:visited{
                    text-decoration: none;
                }
                .shop{
                    display: flex;
                    align-items: center;
                    gap:13px;
                    margin-bottom: 22px;
                    p{
                        opacity: 0.5;
                        color: black;
                    }
                }
            }
        }
    }
    .sliding-menu{
        position: relative;
        bottom: $mMenu;
        animation-fill-mode: forwards;
        animation-duration: 0.6s;
        @include media($mtablet){bottom: $sMenu;}
        @include media($mobile){bottom:$bMenu;animation-duration: 0.8s;}
    }
    .sliding-menu-open{
        animation-name: slide-open;
        @keyframes slide-open {
            100%{
                bottom: 0;
            }
        };
        @include media($mtablet){
            @keyframes slide-open {
                100%{
                    bottom: 0;
                }
            };
        };
        @include media($mobile){
            @keyframes slide-open {
                100%{
                    bottom: 0;
                }
            };
        };
    }
    .sliding-menu-close{
        animation-name: slide-close;
        @keyframes slide-close {
            0%{bottom: 0;}
            100%{
                bottom: $mMenu;
            }
        };
        @include media($mtablet){
            @keyframes slide-close {
                0%{bottom: 0;}
                100%{
                    bottom: $sMenu;
                }
            };
        };
        @include media($mobile){
            @keyframes slide-close {
                0%{bottom: 0;}
                100%{
                    bottom:$bMenu;
                }
            };
        };
    }
}
//NAVBAR:
#navbar-container{
    background-color: #0E0E0E;
}
#navbar{
    background-color: #0E0E0E;
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: center;
    height: 96px;
    padding:0 165px;
    @include media($mdesktop){padding:0 90px;justify-content: space-between;}
    @include media($sdesktop) {padding:0 25px;}
    #logo{
        position:absolute;
        margin:auto;
        left: 165px;
        top:0;
        bottom:0;
        @include media($mdesktop){position:static;margin:0;}
    }
    #cart-icon{
        @extend #logo;
        left:auto;
        right: 165px;
        margin: auto 0;
    }
    #menu{
        color:white;
        font-size:30px;
        @include media($mobile){font-size: 22px;}
    }
}

//footer
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 365px;
    background-color: #101010;
    padding: 0 165px;
    @include media($mdesktop){padding:0 90px;}
    @include media($sdesktop) {padding:0 25px;}
    @include media ($mobile){height: auto;align-items: center;}
    #footer-orange-top{
        background-color: $primaryBrown;
        width:101px;
        height: 4px;
        border: none;
        margin:0;
        margin-bottom: 69px;
        @include media($tablet){margin-bottom: 56px;}
    }
    #footer-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
        @include media($tablet){flex-direction: column;align-items: flex-start;gap:32px;}
        @include media($mobile){align-items: center;}
    }
    #footer-about{
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        @include media($tablet){position: relative;}
        @include media ($mobile){flex-direction: column;align-items: center;}
        #footer-about-main{
            width:50%;
            @include media($mdesktop){width:60%}
            @include media($sdesktop) {width: 75%;}
            @include media($tablet){width:100%}
            #about-text{
                color:white;
                font-size: 15px;
                font-family: $manrope;
                opacity:0.5;
                font-weight: $weightTwo;
                margin:0;
                margin-bottom: 56px;
                @include media($tablet){margin-bottom: 32px}
                @include media ($mobile){text-align: center}
            }
            #about-copywrite{
                @extend #about-text;
                font-weight: $weightOne;
                margin:0;
                // margin-bottom: 48px;
                @include media($tablet){margin-bottom:0;}
            }
        }
        #footer-about-contacts{
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top:90px;
            @include media($tablet){position: absolute;right: 0;bottom: 0;}
            @include media ($mobile){position: static;margin: 48px;}
            // @include media($tablet){margin-top:0;width:100%;justify-content: flex-end;}
            &>i{
                color: white;
                font-size:24px;
                &:hover{
                    color: $primaryBrown;
                }
            }
        }
    }
}
h1{
    background-color: $primaryBrown;
    color:white;
    margin:500px 0;
    padding:20px;
}