//variables
$manrope:'Manrope', sans-serif;
$weightOne:700;
$weightTwo:500;
$weightThree:400;
$primaryBrown:#D87D4A;

//screen-sizes
$mobile:480px;
$mtablet:625px;
$tablet:767px;
$ssdesktop:870px;
$sdesktop:980px;
$mdesktop:1195px;

/*  
    @include media($desktop){}
    @include media($mdesktop){}
    @include media($sdesktop){}
    @include media($ssdesktop){}
    @include media($tablet){}
    @include media($mablet){}
    @include media($mobile){}
*/



//menu-heights
$sMenu:240px;
$mMenu:340px;
$bMenu:675px;


//mixings
@mixin media($level){
    @media(max-width:$level){
        @content
    }
}
@mixin Bigmedia(){
    @media(min-width:1196px){
        @content
    }
}

//navlinks-active-class
.active{
    color: $primaryBrown !important;
}

//body
body{
    margin:0;
    font-family: $manrope;
    max-width: 100%;
}

//all-elements-padding/margin
#all{
    margin:0 165px;
    @include media($mdesktop){margin: 0 120px;}
    @include media($sdesktop){margin: 0 90px;}
    @include media($ssdesktop){margin:0 50px;}
    @include media($tablet){margin: 0 40px;}
    @include media($mtablet){margin: 0 20px;}
    // @include media($mobile){margin: 0 20px;}
}
#all-padding{
    padding:0 165px;
    @include media($mdesktop){padding: 0 120px;}
    @include media($sdesktop){padding: 0 90px;}
    @include media($ssdesktop){padding:0 60px;}
    @include media($tablet){padding: 0 40px;}
    @include media($mobile){padding: 0 24px;}
}

//NAV-LINKS:
.navlinks{
    max-width: 100%;
    //desktop-mode-text
    .navlinks-text{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:34px;
        @include media($mdesktop){gap:25px}
        @include media($sdesktop){gap:15px}
        @include media ($mobile){flex-direction: column;align-items: center;width:100%;}
        a:link , a:visited{
            color: white;
            text-decoration: none;
            font-weight: $weightOne;
            letter-spacing: 2px;
            line-height: 25px;
            font-size: 13px;
        }
        a:hover{
            color:$primaryBrown;
        }
    }

    //tablet/mobile-mode
    #navlink-img-container{
        max-width: 100%;
        height: calc(100vh - 96px);
        background-color:rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        right: 0;

        //animation:open&close:
        .sliding-menu{
            position: relative;
            bottom: $mMenu;
            animation-fill-mode: forwards;
            animation-duration: 0.6s;
            border-radius: 0 0 8px 8px;
            @include media($mtablet){bottom: $sMenu;}
            @include media($mobile){
                box-sizing: border-box;
                padding-top: 65px !important;
                bottom:$bMenu;
                animation-duration: 0.8s;
                max-height: calc(100vh - 135px);
                .category-img{
                    filter: none !important;
                }
            }
        }
        .sliding-menu-open{
            animation-name: slide-open;
            @keyframes slide-open {
                100%{
                    bottom: 0;
                }
            };
            @include media($mtablet){
                @keyframes slide-open {
                    100%{
                        bottom: 0;
                    }
                };
            };
            @include media($mobile){
                @keyframes slide-open {
                    100%{
                        bottom: 0;
                    }
                };
            };
        }
        .sliding-menu-close{
            animation-name: slide-close;
            @keyframes slide-close {
                0%{bottom: 0;}
                100%{
                    bottom: $mMenu;
                }
            };
            @include media($mtablet){
                @keyframes slide-close {
                    0%{bottom: 0;}
                    100%{
                        bottom: $sMenu;
                    }
                };
            };
            @include media($mobile){
                @keyframes slide-close {
                    0%{bottom: 0;}
                    100%{
                        bottom:$bMenu;
                    }
                };
            };
        }
    }

    //actual-styling
    .navlinks-img{
        max-width: 100%;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        height: 217px;
        background-color: white;
        padding:56px 39px 67px 39px;
        @include Bigmedia(){margin:0 165px;padding-right: 0;padding-left: 0;gap:30px;}
        @include media($mdesktop){margin: 0 120px;padding-right: 0;padding-left: 0;gap:20px;}
        @include media($sdesktop){margin: 0 90px;padding-right: 0;padding-left: 0;}
        @include media($ssdesktop){padding:56px 39px 67px 39px;margin:0;}
        @include media($mtablet){padding: 60px 20px 40px 20px;height: 170px;}
        @include media($mobile){flex-direction: column;height: auto;gap:68px;align-items: center;padding:84px 24px 35px 24px;}
        .category{
            height: 165px;
            width: 223px;
            background-color: #F1F1F1;
            border-radius: 8px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 17px;
            @include Bigmedia(){width: 350px;}
            @include media($mdesktop){width: 300px;}
            @include media($sdesktop){width: 300px;}
            @include media($ssdesktop){width: 300px;}
            @include media ($mtablet){height: 140px;gap:9px;}
            @include media($mobile){width: 85%;}
            .category-img{
                position: absolute;
                margin:auto;
                top:-52px;
                left: 0;
                right: 0;
                filter: drop-shadow(0px 30px 16px gray);
                @include media($mtablet){filter: drop-shadow(0px 15px 8px gray);height: 80px;top:-40px;}
            }
            p{
                font-weight: $weightOne;
                font-size: 15px;
                margin:0;
            }
            .shop{
                display: flex;
                align-items: center;
                gap:13px;
                margin-bottom: 22px;
                box-sizing: border-box;
                p{
                    opacity: 0.5;
                    color: black;
                }
            }
        }
        a:visited , a:link{
            color: black;
        }
        a:hover .shop>p{
            opacity: 1;
            color: #D87D4A;
        }
    }

    //notNavbar-navlinks "basically the same "actual styling that's about but with some changes"
    .notNav{
        @extend .navlinks-img;
        padding: 0px 0 0 0;
        margin:0 165px ;
        @include media($mdesktop){margin: 0 120px ;}
        @include media($sdesktop){margin: 0 90px ;}
        @include media($ssdesktop){margin:0 60px ;}
        @include media($tablet){margin: 0 40px ;}
        @include media($mobile){margin: 0 24px ;padding: 35px 0 0 0}
        .category{
            @include media ($mtablet){height: 130px ;gap:9px;}
            .category-img{
                @include media($mtablet){height: 70px ;top:-35px ;}
            }
        }
    }

}

//NAVBAR:
#navbar-container{
    background-color: black;
}
#navbar-links{
    position: relative;
    z-index: 5;
}
#navbar{
    @extend #all-padding;
    background-color:black;
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: center;
    height: 96px;

    @include media($mdesktop){justify-content: space-between;}
    @include media($sdesktop) {}
    #logo{
        position:absolute;
        margin:auto;
        left: 165px;
        top:0;
        bottom:0;
        @include media($mdesktop){position:static;margin:0;}
    }
    #cart-icon{
        @extend #logo;
        left:auto;
        right: 165px;
        margin: auto 0;
    }
    #menu{
        color:white;
        font-size:30px;
        @include media($mobile){font-size: 22px;}
    }
}

//FOOTER:
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 365px;
    background-color: #101010;
    padding: 0 165px;
    @include media($mdesktop){padding:0 90px;}
    @include media($sdesktop) {padding:0 25px;}
    @include media ($mobile){height: auto;align-items: center;}
    #footer-orange-top{
        background-color: $primaryBrown;
        width:101px;
        height: 4px;
        border: none;
        margin:0;
        margin-bottom: 69px;
        @include media($tablet){margin-bottom: 56px;}
    }
    #footer-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
        @include media($tablet){flex-direction: column;align-items: flex-start;gap:32px;}
        @include media($mobile){align-items: center;}
    }
    #footer-about{
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        @include media($tablet){position: relative;}
        @include media ($mobile){flex-direction: column;align-items: center;}
        #footer-about-main{
            width:50%;
            @include media($mdesktop){width:60%}
            @include media($sdesktop) {width: 75%;}
            @include media($tablet){width:100%}
            #about-text{
                color:white;
                font-size: 15px;
                opacity:0.5;
                font-weight: $weightTwo;
                margin:0;
                margin-bottom: 56px;
                @include media($tablet){margin-bottom: 32px}
                @include media ($mobile){text-align: center}
            }
            #about-copywrite{
                @extend #about-text;
                font-weight: $weightOne;
                margin:0;
                @include media($tablet){margin-bottom:0;}
            }
        }
        #footer-about-contacts{
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top:90px;
            @include media($tablet){position: absolute;right: 0;bottom: 0;}
            @include media ($mobile){position: static;margin: 48px;}
            &>i{
                color: white;
                font-size:24px;
                &:hover{
                    color: $primaryBrown;
                }
            }
        }
    }
}


//About:
.about{
    @extend #all;
    display: flex;
    align-items: center;
    gap:80px;
    margin-block: 160px;
    @include media($mdesktop){gap:50px;}
    @include media($sdesktop){gap:30px;}
    @include media($tablet){flex-direction: column-reverse;gap:40px;}
    @include media($mobile){margin-block: 100px;}
    .about-text{
        .about-text-title{
            margin:0 0 32px 0;
            font-weight: bold;
            font-size: 40px;
            line-height: 44px;
            @include media($mdesktop){font-size: 35px;}
            @include media($sdesktop){font-size: 32px;}
            @include media($tablet){text-align: center;font-size: 32px;}
            span{
                color:$primaryBrown ;
            }
        }
        .about-text-text{
            margin:0;
            opacity: 0.5;
            font-weight: 500;
            line-height: 25px;
            @include media($tablet){text-align: center;}
        }
    }
    .about-picture{
        width: 480px;
        border-radius: 10px;
        @include media($mdesktop){width: 350px;}
        @include media($sdesktop){width:300px;}
        @include media($tablet){width: 100%;}
    }
}

//CATEGORYS:
//header
.hr-container{
    background-color: black;
    .hr{
        @extend #all;
        margin-block: 0;
        opacity: 0.2;
        background-color: #979797;
        height: 1px;
        border:none;
        mix-blend-mode: normal;
    }
}
.cat-h{
    @extend #all;
    background-color: black;
    color: white;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 239px;
    @include media($tablet){height: 246px;}
    @include media($mobile){height: 102px;}
}

//category-products-list
.productsListElContainer{
    @extend #all;
    margin-block:100px 160px;
    display: flex;
    flex-direction: column;
    gap: 160px;
    @include media($sdesktop){margin-block:100px 145px;}
    @include media($tablet){margin-block:60px 130px;gap:120px;}
}
.product{
    @extend .productsListElContainer;

}
.category-product{
    display: flex;
    gap:125px;
    align-items: center;
    @include media($mdesktop){gap:60px;}
    @include media($sdesktop){gap:50px;}
    @include media($ssdesktop){gap:40px;}
    @include media($tablet){flex-direction: column;gap:20px;}
    @include media($mtablet){gap:25px;}
    .category-product-img{
        width: 50%;
        border-radius: 8px;
        @include media($tablet){width: 100%;}
    }
    .category-product-text{
        .category-product-text-new{
            color: #D87D4A;
            letter-spacing: 10px;
            font-size: 14px;
            margin: 0 0 16px 0;
            @include media($sdesktop){margin: 0 0 9px 0;}
            @include media($ssdesktop){margin:0 0 5px 0;}
            @include media($tablet){margin:0 0 10px 0;}
        }
        .category-product-text-new-2{
            color: #D87D4A;
            letter-spacing: 10px;
            font-size: 14px;
            margin: 0 0 16px 0;
            @include media($sdesktop){margin: 0 0 9px 0;}
            @include media($ssdesktop){margin:0 0 5px 0;}
            @include media($tablet){margin:0 0 0px 0;}
            @include media($mtablet){margin:0 0 5px 0;font-size: 10px;letter-spacing: 5px;}
        }
        .category-product-text-name{
            margin: 0 0 32px 0;
            font-weight: bold;
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1.42857px;
            @include media($sdesktop){font-size: 33px;margin: 0 0 15px 0;}
            @include media($tablet){margin:0 0 15px 0;}
            // @include media($mtablet){margin:0 0 15px 0;}

        }
        .category-product-text-name-2{
            margin: 0 0 32px 0;
            font-weight: bold;
            font-size: 40px;
            line-height: 37px;
            letter-spacing: 1.42857px;
            @include media($sdesktop){font-size: 33px;margin: 0 0 10px 0;}
            @include media($tablet){margin:0 0 10px 0;font-size: 26px;line-height: 25px;}
            @include media($mtablet){margin:0 0 6px 0;font-size: 20px;line-height: 20px;}
            // @include media($mtablet){margin:0 0 32px 0;font-size: 33px;line-height: 37px;}
            // @include media($mobile){margin:0 0 10px 0;}
            // @include media($mtablet){margin:0 0 15px 0;}

        }
        .category-product-text-description{
            margin:  0 0 40px 0;
            opacity: 0.5;
            font-weight: 500;
            @include media($sdesktop){margin: 0 0 28px 0;}
            @include media($ssdesktop){margin:0 0 23px 0;}
            @include media($tablet){margin:0 0 30px 0;}
        }
        .category-product-text-description-2{
            margin:  0 0 20px 0;
            opacity: 0.5;
            font-weight: 500;
            @include media($sdesktop){margin: 0 0 15px 0;}
            @include media($ssdesktop){margin:0 0 10px 0;}
            @include media($tablet){margin:0 0 10px 0;font-size: 16px;}
            @include media($mtablet){margin:0 0 10px 0;font-size: 14px;}
        }
        .button{
            background-color: $primaryBrown;
            color: white;
            border: none;
            padding: 15px 20px;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 13px;
            height: 48px;
            // @include media($tablet){letter-spacing: 0;padding: 10px 10px;height: 35px;}
            @include media($mtablet){letter-spacing: 0;padding: 10px 10px;height: 35px;}
            @include media($mobile){letter-spacing: 0;}
        }
        .button:hover{
            background-color: #FBAF85;
        }
        @include media($tablet){text-align: center;}
        .product-nums{
            display: inline-flex;
            align-items: center;
            background-color: #F1F1F1;
            width:auto;
            height: 48px;
            margin-right: 16px;
            // @include media($tablet){height: 35px;}
            @include media($mtablet){height: 35px;}
            @include media($mobile){margin-right: 10px;}
            // width: auto;
            p{
                margin:0;
                width: 40px;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                @include media($mtablet){width: 30px;}
            }
            button{
                font-weight: bold;
                border: none;
                height: 100%;
                width: 40px;
                opacity: 0.5;
                font-size: 13px;
                @include media($mtablet){width: 30px;}
                // @include media($mobile){width: 45px;}
            }
            p,button{
                @include media($mobile){width:35px;}
            }
            button:hover{
                color: $primaryBrown;
                opacity: 1;
            }
        }
        .price{
            font-size: 18px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 15px;
            @include media($tablet){margin-bottom: 10px;}
        }
    }
}
.category-product-2{
    @extend .category-product;
    @include media($ssdesktop){gap:30px;}
    @include media($tablet){flex-direction: row;gap:40px;}
    @include media($mtablet){gap:17px}
    @include media($mobile){flex-direction: column;}
    .category-product-img{
        width: 50%;
        border-radius: 8px;
        @include media($tablet){max-width: 35%;}
        // @include media($tablet){max-width: 245px;}
        @include media(655px){max-width: 30%;}
        @include media($mobile){min-width: 100%;}
    }
    .category-product-text{
        text-align: left;
    }
}
